@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600");

.App {
  font-family: sans-serif;
  text-align: center;
  color: #1b1d28;
}

.hero {
  background: #1b1d28;
  color: #fff;
  padding: 140px 0 120px;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.hero-description {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.section {
  max-width: 630px;
  margin: 32px auto;
  padding: 0 15px;
}

.section-title {
  color: #b6b6ba;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.section-description {
  font-size: 14px;
  line-height: 1.8;
}
